.addons {
  position: relative;
  color: $basic-dark-400;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
  }
}

.addons__title {
  @include legend-padding;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  color: $basic-dark;
  background-color: $basic-light;

  &::before {
    @include green-line;
    top: 42px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: 90px;
      left: -$padding-tablet;
    }

    @media (min-width: $desktop-width) {
      left: calc(1220px / 2 - 50vw);
    }
  }
}

.addons__wrapper {
  display: grid;
  grid-template-rows: repeat(1fr, 1fr);
  grid-row-gap: 31px;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 69px;
    margin-top: 80px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr $column-desktop;
    grid-column-gap: $gutter-desktop;
  }
}

.addons__list {
  @include list;
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    grid-row-gap: 0;
    border-left: $border-cd;
    border-right: $border-cd;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.addons__card {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 17px;
    padding-left: 0;
    padding-right: 0;
  }
}
