.addon {
  display: grid;
  grid-template-areas:
    "title"
    "price"
    "buy";
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  border-bottom: $border-cd;

  &:first-of-type {
    border-top: $border-cd;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "title price"
      "buy buy";
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 27px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "title price buy";
    grid-template-columns: 1fr 1fr $column-desktop;
    grid-template-rows: 1fr;
    grid-column-gap: $gutter-desktop;
  }
}

.addon__title {
  grid-area: title;
  margin: 0;
}

.addon__title a {
  color: $basic-dark-200;
}

.addon__price {
  @include flex(row, space-between, auto, false);
  grid-area: price;

  @media (min-width: $tablet-width) {
    justify-content: start;
    margin-left: auto;
  }
}

.addon__price span:last-of-type {
  @media (min-width: $tablet-width) {
    margin-left: 50px;
  }
}

.addon__buy {
  @include text(primary, 14px, 18px, true);
  @include accent-link;
  grid-area: buy;
  padding: 9px 44px;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 244px;
    justify-self: end;
  }
}
