.addon {
  display: grid;
  grid-template-areas:
    "title"
    "price"
    "buy";
  grid-template-rows: repeat(3, min-content);
  grid-row-gap: 11px;
  align-items: center;
  border-top: $border-cd;

  &:last-of-type {
    border-bottom: $border-cd;
  }

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "title price"
      "buy buy";
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 5px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas: "title price buy";
    grid-template-columns: 1fr 1fr $column-desktop;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
  }
}

.addon__title {
  grid-area: title;
  margin: 0;
}

.addon__title a {
  color: $basic-dark-200;
}

.addon__price {
  @include flex(row, space-between, auto, false);
  grid-area: price;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr minmax(43px, auto);
    grid-gap: 50px;
    justify-items: end;
  }

  @media (min-width: $desktop-width) {
    justify-items: start;
  }
}

.addon__buy {
  @include accent-link;
  grid-area: buy;
  width: 100%;
}
