.addons {
  position: relative;
  color: $basic-dark-400;
}

.addons__title {
  @include accent-title;
  padding-top: 26px;
  padding-bottom: 34px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 79px;
  }

  &::before {
    @include green-line;
    top: 41px;
    left: 0;

    @media (min-width: $tablet-width) {
      top: 88px;
    }

    @media (min-width: $desktop-width) {
      top: 96px;
    }
  }
}

.addons__wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 40px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 68px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    grid-template: auto / 3fr $column-desktop;
    grid-column-gap: $gutter-desktop;
    margin-bottom: 88px;
  }
}

.addons__list {
  @include list;
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    border-left: $border-cd;
    border-right: $border-cd;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.addons__card {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 27px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
