.advantage {
  position: relative;
  display: grid;
  grid-template-columns: 60px auto;
  grid-column-gap: 20px;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-template: min-content 1fr / 1fr;
    grid-row-gap: 30px;
    align-items: start;
    min-height: 272px;
    padding-right: 75px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-row-gap: 32px;
    min-height: 250px;
    padding-right: 0;
  }

  &::before {
    @include pseudo(60px, 60px);
    @include bg-norepeat($advantage-sprite);
    background-color: $basic-green;
    background-size: 60px 240px;

    @media (min-resolution: 2dppx) {
      background-image: $advantage-sprite-retina;
    }

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      @include absolute-top-left(-40px, 112px, -1);
      @include text(primary, 280px, 280px, false);
      counter-increment: section;
      content: counters(section, ".");
      color: $basic-light-f2;
    }
  }

  &--leaf::before {
    background-position: 0 -120px;

    @media (min-width: $tablet-width) {
      background-position: 10px -110px;
    }
  }

  &--tub::before {
    background-position: 0 -180px;

    @media (min-width: $tablet-width) {
      background-position: 10px -170px;
    }
  }

  &--eat::before {
    background-position: 0 -60px;

    @media (min-width: $tablet-width) {
      background-position: 10px -50px;
    }
  }

  &--alarm::before {
    background-position: 0 0;

    @media (min-width: $tablet-width) {
      background-position: 10px 10px;
    }
  }

  &--leaf::after {
    left: 120px;
  }
}
