.load-more {
  @include flex(column, center, center, false);
  padding: 24px 0;
}

.load-more::before {
  @include pseudo(30px, 30px);
  @include bg-norepeat($icon-plus);
  background-size: 30px 30px;
  background-position: center;
}

.load-more__slogan {
  @include text(primary, 16px, 20px, true);
  color: $basic-dark-100;
}

.load-more__text {
  @include text(regular, 12px, 16px, false);
  color: $basic-dark-400;
}

.load-more__button {
  @include text(primary, 16px, 20px, true);
  width: 100%;
  max-width: 280px;
  padding: 9px 44px;
  color: $basic-dark-400;
  background-color: $basic-light-200;
  border: none;
}
