.load-more {
  @include bg-norepeat($icon-plus);
  width: 100%;
  background-size: 30px 30px;
  background-position: center 26px;

  @media (min-width: $tablet-width) {
    background-size: 60px 60px;
    background-position: center 133px;
    background-color: $basic-light;
  }
}

.load-more__wrapper {
  @include flex(column, auto, center, false);
  margin-top: 65px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 430px;
    padding-top: 162px;
    padding-bottom: 40px;
    margin-top: 81px;
    border: 2px solid $basic-light-f2;
  }
}

.load-more__slogan {
  margin-top: 0;
  margin-bottom: 8px;
  color: $basic-dark-100;

  @media (min-width: $tablet-width) {
    max-width: 134px;
    margin-bottom: 23px;
  }
}

.load-more__text {
  @include text(regular, 12px, 16px, false);
  margin-top: 0;
  margin-bottom: 21px;
  color: $basic-dark-400;

  @media (min-width: $tablet-width) {
    max-width: 134px;
  }
}

.load-more__button {
  @include text(primary, 16px, 20px, true);
  @include gray-link;
  width: 100%;
  padding: 9px 35px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 36px * 2);
    margin-top: auto;
  }
}
