.products {
  position: relative;
  color: $basic-dark-400;
}

.products__list {
  @include list;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-left: -20px;
  margin-right: -20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gutter-tablet;
    grid-row-gap: 59px;
    justify-content: center;
    padding-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, $column-desktop);
    grid-column-gap: $gutter-desktop;
    grid-row-gap: 63px;
  }
}

.products__card {
  position: relative;
  padding: 25px $padding-mobile;
  border-top: $border-eb;
  border-bottom: $border-eb;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    background-color: $basic-light-f2;
    border: none;
  }

  &--load {
    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }
  }
}
