.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content min-content;
    grid-row-gap: 33px;
    background-image: linear-gradient(to bottom, $basic-light 0, $basic-light 81px, $basic-light-f2 81px);
  }
}

.product__picture {
  margin: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.product__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.product__title {
  max-width: 76px;
  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    max-width: 174px;
    padding: 0 20px;
    margin-bottom: 33px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
  }
}

.product__title a {
  color: $basic-dark-200;
}

.product__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.product__info dd {
  margin: 0;
  margin-left: auto;
}

.product__buy {
  @include text(primary, 16px, 20px, true);
  @include accent-link;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 9px 44px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 37px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
    margin-right: 38px;
  }
}
