.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 144px min-content;
  width: 100%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 210px min-content min-content;
    grid-row-gap: 2px;
    background-image: linear-gradient(to top, $basic-light-f2 0, $basic-light-f2 430px, $basic-light 430px);
  }
}

.product__picture {
  align-self: end;
}

.product__picture picture {
  @include flex(row, center, center, false);
}

.product__wrap {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 15px;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 20px;
    align-items: center;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 31px;
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    grid-row-gap: 25px;
    padding-top: 36px;
    padding-bottom: 30px;
    padding-right: 42px;
  }
}

.product__title {
  max-width: 76px;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 150px;
    margin: 0 auto;
    text-align: center;
  }
}

.product__title a {
  color: $basic-dark-200;
}

.product__info {
  margin: 0;
}

.product__buy {
  @include accent-link;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 39px;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 38px;
    margin-right: 39px;
  }
}
