.profile {
  @include container;
  position: relative;
}

.profile__legend {
  @include text(primary, 36px, 36px, false);
  display: block;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.profile__text {
  @include text(primary, 14px, 18px, true);
  max-width: 226px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    max-width: 323px;
    margin-left: 41px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 68px;
  }
}
