.program {
  position: relative;
  color: $basic-dark;
  background-color: $basic-light-200;

  @media (min-width: $tablet-width) {
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
  }

  &::before {
    @include pseudo(50px, 53px);
    @include absolute-top-left(21px, 22px, 0);
    border-radius: 50%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 211px;
      top: 81px;
      right: 62px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: 41px;
      right: auto;
      left: 52px;
    }
  }

  &--slim::after {
    @include pseudo(50px, 53px);
    @include absolute-top-left(21px, 29px, 0);
    @include bg-norepeat($icon-cat-slim);

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      top: 81px;
      right: 90px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: 41px;
      right: auto;
      left: 67px;
    }
  }

  &--pro::after {
    @include pseudo(67px, 50px);
    @include absolute-top-left(35px, 13px, 0);
    @include bg-norepeat($icon-cat-pro);

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 135px;
      right: 28px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: 67px;
      right: auto;
      left: 33px;
    }
  }
}

.program__title {
  @include flex(row, auto, center, false);
  @include text(primary, 24px, 37px, true);
  padding: 30px 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 71px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0;
    margin-left: 165px;
  }
}

.program__description {
  padding-bottom: 13px;
  margin: 0;
  color: $basic-dark-400;
  border-bottom: $border-footer;

  @media (min-width: $tablet-width) {
    max-width: 377px;
    padding-bottom: 24px;
    color: $basic-dark;
    border-bottom: none;
  }
}

.program__link {
  @include text(primary, 16px, 16px, true);
  @include flex(row, auto, center, false);
  padding-top: 15px;
  padding-bottom: 18px;
  color: $basic-dark;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    @include pseudo(24px, 11px);
    @include bg-norepeat($icon-arrow);
    margin-left: 17px;

    @media (min-width: $tablet-width) {
      margin-left: 25px;
    }
  }
}
