.promo {
  @include bg-norepeat((
    $bg-promo-top-mobile,
    linear-gradient(to bottom, $basic-green 0%, $basic-green 305px, $basic-light 305px)
  ));
  position: relative;
  color: $basic-light;
  background-position: center top;

  @media (min-width: $tablet-width) {
    color: $basic-dark;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    @include bg-norepeat((
      $bg-promo-top,
      linear-gradient(to right, $basic-green 0, $basic-green 100%)
    ));
    padding-top: 144px;
    background-position: 50vw top;
    background-size: 720px 696px;
  }
}

.promo__wrapper {
  @include container;
}

.promo__top {
  @include flex(column, auto, auto, false);
  @include bg-norepeat($bg-promo-can-mobile);
  min-height: 502px;
  color: $basic-light;
  background-position: center 167px;
  background-size: 280px 270px;


  @media (min-width: $tablet-width) {
    @include bg-norepeat($bg-promo-can-tablet);
    min-height: 840px;
    padding-left: 86px;
    color: $basic-dark;
    background-position: center bottom;
    background-size: 709px 609px;
  }

  @media (min-width: $desktop-width) {
    @include bg-norepeat($bg-promo-can);
    min-height: 632px;
    padding-left: 78px;
    padding-top: 48px;
    background-position: 448px top;
    background-size: 552px 499px;
  }
}

.promo__title {
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    margin-bottom: 41px;
    text-align: left;
  }
}

.promo__slogan {
  @include text(primary, 14px, 14px, true);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__link {
  @include accent-link;
  width: 100%;
  max-width: 280px;
  align-self: center;
  padding: 11px 26px;
  margin-top: auto;
  margin-bottom: 23px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: auto;
    align-self: start;
    padding: 14px 25px;
    margin-top: 49px;
    margin-left: -3px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 27px;
    margin-top: 52px;
    margin-left: 0;
  }
}

.promo__list {
  @include list;
  display: grid;
  grid-row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gutter-desktop;
    width: 100%;
  }
}
