.promo {
  @include bg-norepeat((
    $bg-promo-top-mobile,
    linear-gradient(to bottom, $basic-green 0%, $basic-green 305px, $basic-light 305px)
  ));
  position: relative;
  color: $basic-light;
  background-position: center top;

  @media (min-width: $tablet-width) {
    color: $basic-dark;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    @include bg-norepeat((
      $bg-promo-top,
      linear-gradient(to right, $basic-green 0, $basic-green 100%)
    ));
    padding-top: 165px;
    background-position: 50vw top;
    background-size: 720px 696px;
  }
}

.promo__wrapper {
  @include container;
}

.promo__top {
  @include flex(column, auto, auto, false);
  @include bg-norepeat($bg-promo-can-mobile);
  min-height: 520px;
  color: $basic-light;
  background-position: center 167px;
  background-size: 280px 270px;


  @media (min-width: $tablet-width) {
    @include bg-norepeat($bg-promo-can-tablet);
    min-height: 845px;
    color: $basic-dark;
    background-position: center bottom;
    background-size: 709px 609px;
  }

  @media (min-width: $desktop-width) {
    @include bg-norepeat($bg-promo-can);
    min-height: 613px;
    background-position: 448px top;
    background-size: 552px 499px;
  }
}

.promo__title {
  margin-top: 27px;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    margin-left: 83px;
    text-align: left;
  }
}

.promo__slogan {
  @include text(primary, 14px, 14px, true);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 83px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__link {
  @include text(primary, 14px, 18px, true);
  @include accent-link;
  width: 100%;
  max-width: 280px;
  align-self: center;
  padding: 14px 26px;
  margin-top: auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: auto;
    align-self: start;
    margin-left: 83px;
    margin-top: 49px;
    font-size: 20px;
    line-height: 26px;
  }
}

.promo__list {
  @include list;
  display: grid;
  grid-row-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gutter-desktop;
  }
}
