@mixin bg-norepeat($images) {
  background-image: $images;
  background-repeat: no-repeat;
}

@mixin font($font-family, $weight, $style) {
  font-family: $font-family;
  font-weight: $weight;
  font-style: $style;
}

@mixin list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin uppercase {
  text-transform: uppercase;
}

@mixin text($type, $size, $height, $uppercase) {
  @if $type == primary {
    @include font($primary-font, 400, normal);
  }

  @if $type == primary-medium {
    @include font($primary-font, 500, normal);
  }

  @if $type == regular {
    @include font($basic-font, 400, normal);
  }

  @if $uppercase {
    @include uppercase();
  }

  font-size: $size;
  line-height: $height;
}

@mixin accent-link {
  @include text(primary, 16px, 20px, true);
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 44px;
  padding-right: 44px;
  text-align: center;
  color: $basic-light;
  background-color: $basic-green;
  border: none;

  &:hover {
    background-color: $basic-green-hover;
  }

  &:active {
    color: transparentize($basic-light, 1 - $opacity-30);
    background-color: $basic-green-hover;
  }
}

@mixin arrow-link {
  position: relative;
  color: $basic-dark;

  &:hover {
    &::before {
      opacity: 1;
    }

    &::after {
      opacity: 0;
    }
  }

  &:active {
    opacity: $opacity-30;
  }

  &::before {
    @include pseudo-flex(32px, 14px);
    @include absolute-top-right(calc(50% - 6px), 0, 0);
    @include bg-norepeat($icon-arrow-long);
    background-position: left center;
    background-size: 32px 11px;
    opacity: 0;

    @media (min-width: $tablet-width) {
      top: calc(50% - 1px);
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 6px);
    }
  }

  &::after {
    @include pseudo-flex(32px, 14px);
    @include bg-norepeat($icon-arrow);
    position: relative;
    top: 1px;
    margin-left: 14px;
    background-position: left center;
    background-size: 24px 11px;
    opacity: 1;

    @media (min-width: $tablet-width) {
      top: 2px;
      margin-left: 22px;
    }

    @media (min-width: $desktop-width) {
      top: 1px;
    }
  }
}

@mixin gray-link {
  color: $basic-dark-400;
  background-color: $basic-light-f2;
  border: none;

  &:hover {
    background-color: $basic-light-eb;
  }

  &:active {
    color: transparentize($basic-dark-400, 1 - $opacity-30);
  }
}

@mixin pseudo($width, $height) {
  content: "";
  display: inline-flex;
  width: $width;
  height: $height;
}

@mixin pseudo-flex($width, $height) {
  content: "";
  display: flex;
  width: $width;
  height: $height;
}

@mixin absolute-top-left($top, $left, $index) {
  position: absolute;
  top: $top;
  left: $left;
  z-index: $index;
}

@mixin absolute-top-right($top, $right, $index) {
  position: absolute;
  top: $top;
  right: $right;
  z-index: $index;
}

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;

  @if $direction != row {
    flex-direction: $direction;
  }

  @if $justify != auto {
    justify-content: $justify;
  }

  @if $align != auto {
    align-items: $align;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }
}

@mixin container {
  max-width: $desktop-width;
  margin: 0 auto;
  padding: 0 $padding-mobile;

  @media (min-width: $tablet-width) {
    padding: 0 $padding-tablet;
  }

  @media (min-width: $desktop-width) {
    padding-left: $padding-desktop + $scroll-shift;
    padding-right: $padding-desktop - $scroll-shift;
  }
}

@mixin green-line {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: calc(100vw - 20px);
  height: 2px;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    left: -$padding-tablet;
    width: 100vw;
  }

  @media (min-width: $desktop-width) {
    left: calc(#{$desktop-content-width} / 2 - 50vw);
  }
}

@mixin accent-title {
  @include text(primary, 24px, 26px, false);
  display: inline-flex;
  padding-right: 22px;
  color: $basic-dark;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    padding-left: 38px;
    padding-right: 36px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -$padding-desktop;
  }
}

@mixin logo-states {
  &:hover {
    opacity: $opacity-80;
  }

  &:active {
    opacity: $opacity-60;
  }
}
