$basic-dark: #000000;
$basic-dark-100: #111111;
$basic-dark-200: #222222;
$basic-dark-400: #444444;

$basic-light: #ffffff;
$basic-light-100: #fdf7f0;
$basic-light-200: #f2f2f2;
$basic-light-300: #e5e5e5;
$basic-light-400: #ebebeb;
$basic-light-500: #d9d9d9;
$basic-light-600: #cdcdcd;

$basic-green: #68b738;

$bgcolor-slider: #eaeaea;
$bgcolor-slider-range: #dcdcdc;

$basic-font: "Arial", sans-serif;
$primary-font: "Oswald", "Arial", sans-serif;

$border-header:  1px solid $basic-light-300;
$border-footer: 1px solid $basic-light-500;
$border-basic: 1px solid $basic-light-600;
$border-page: 1px solid $basic-light-400;

$icon-menu-mobile: url("../img/icon-mobile-menu.svg");
$icon-menu-close: url("../img/icon-close.svg");

$icon-cat-pro: url("../img/icon-cat-pro.svg");
$icon-cat-slim: url("../img/icon-cat-slim.svg");

$icon-advantage-leaf: url("../img/advantage-leaf@1x.png");
$icon-advantage-tub: url("../img/advantage-powder@1x.png");
$icon-advantage-eat: url("../img/advantage-dining@1x.png");
$icon-advantage-alarm: url("../img/advantage-clock@1x.png");

$icon-socials-vk: url("../img/icon-vk.svg");
$icon-socials-instagram: url("../img/icon-insta.svg");
$icon-socials-fb: url("../img/icon-fb.svg");

$icon-plus: url("../img/icon-plus-mobile.svg");
$icon-arrow: url("../img/icon-right-arrow-long.svg");
$icon-gift: url("../img/icon-gift.svg");

$bg-gift-mobile: url("../img/gift-photo-mobile@1x.jpg");
$bg-gift-tablet: url("../img/gift-photo-tablet@1x.jpg");
$bg-gift: url("../img/gift-photo-desktop@1x.jpg");
$bg-map-mobile: url("../img/bg-map-mobile@1x.png");
$bg-map-tablet: url("../img/bg-map-tablet@1x.png");
$bg-map: url("../img/bg-map-desktop@1x.png");
$bg-map-pin: url("../img/map-pin.png");
$bg-promo-top: url("../img/index-background-desktop@1x.jpg");
$bg-promo-top-mobile: url("../img/index-background-mobile@1x.jpg");
$bg-promo-can: url("../img/index-can-desktop@1x.png");
$bg-promo-can-mobile: url("../img/index-can-mobile@1x.png");
$bg-promo-can-tablet: url("../img/index-can-tablet@1x.jpg");

$mobile-max-width: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$gutter-desktop: 80px;
$gutter-tablet: 60px;

$column-desktop: 245px;

$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 110px;
