.checkbox + label::before {
  @include pseudo($input-size-mobile, $input-size-mobile);
  background-color: $basic-light;
  border: $border-cd;

  @media (min-width: $tablet-width) {
    width: $input-size;
    height: $input-size;
  }
}

.checkbox:hover + label::before {
  border-color: $basic-light-ba;
}

.checkbox:focus + label::before {
  outline: 1px solid $basic-light-ba;
}

.checkbox:active + label,
.checkbox:active + label::before {
  opacity: $opacity-30;
}

.checkbox:checked + label::before {
  @include bg-norepeat($icon-checkbox);
  background-size: 18px 14px;
  background-position: center;
}
