.fieldset {
  position: relative;

  &--cat {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--purpose {
    margin-bottom: 26px;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    border-top: $border-d9;
    border-bottom: $border-d9;

    @media (min-width: $tablet-width) {
      margin-bottom: 71px;
      margin-left: 0;
      margin-right: 0;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--owner {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 69px;
    }
  }

  &--comment {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }

  &--addons {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }
}

.fieldset--owner .fieldset__legend {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.fieldset--comment .fieldset__legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.fieldset--addons .fieldset__legend {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.fieldset__legend {
  @include legend-padding;
  position: relative;
  color: $basic-dark;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
  }

  &::before {
    @include green-line;
    top: 0.6em;
    left: 0;

    @media (min-width: $tablet-width) {
      left: -$padding-tablet;
    }

    @media (min-width: $desktop-width) {
      left: calc(1220px / 2 - 50vw + 40px);
    }
  }
}

.fieldset__legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
