.fieldset {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--cat {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 74px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--purpose {
    margin-bottom: 27px;
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    border-top: $border-d9;
    border-bottom: $border-d9;

    @media (min-width: $tablet-width) {
      margin-bottom: 73px;
      margin-left: 0;
      margin-right: 0;
      border: none;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--owner {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }

  &--comment {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 65px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }

  &--addons {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 59px;
    }
  }
}

.fieldset__legend {
  margin-left: -3px;

  @media (min-width: $tablet-width) {
    margin-left: -40px;
  }
}
