.form {
  color: $basic-dark;
}

.form__top {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $gutter-desktop;
    margin-bottom: 69px;
  }
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__field {
  display: flex;
  margin: 0;
}

.form__label {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

.form__input {
  margin: 0;
}

.form__bottom {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  grid-row-gap: 6px;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template: min-content / repeat(2, 1fr);
    grid-column-gap: $gutter-tablet;
    padding-left: 40px;
    padding-right: 35px;
    margin-bottom: 72px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: $gutter-desktop;
    padding: 0;
    margin-bottom: 80px;
  }
}

.form__submit {
  @include accent-link;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text {
  @include text(regular, 14px, 16px, false);

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
