.input {
  @include text(primary, 16px, 18px, true);
  padding: 13px;
  color: $basic-dark-400;
  border: $border-e7;
  appearance: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 10px 17px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: $basic-light-cd;
  }

  &:active {
    outline: 2px solid $basic-dark-400;
  }

  &:invalid {
    outline: 2px solid $basic-error;
  }

  &--number {
    appearance: textfield;
  }

  &--icon {
    padding-right: 40px;
  }

  &--comment {
    height: 150px;
    padding-right: 12px;

    @media (min-width: $tablet-width) {
      height: 174px;
    }
  }
}

.input--icon:active + .input-icon {
  fill: $basic-green;
}

.input--icon:invalid + .input-icon {
  fill: $basic-error;
}

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
