.input {
  @include text(primary, 14px, 18px, true);
  flex-grow: 1;
  padding: 13px 15px 13px 15px;
  color: $basic-dark-400;
  border: $border-e7;
  appearance: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    border-color: $basic-light-cd;
  }

  &:active {
    outline: 2px solid $basic-dark-400;
  }

  &:invalid {
    outline: 2px solid $basic-error;
  }

  &--number {
    appearance: textfield;
  }

  &--icon {
    padding-right: 50px;
  }
}

.input--icon:active + .input-icon {
  fill: $basic-green;
}

.input--icon:invalid + .input-icon {
  fill: $basic-error;
}

.input--number::-webkit-outer-spin-button,
.input--number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
