.label {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  width: 100%;

  &--text {
    grid-column-gap: 14px;
  }

  &--radio {
    grid-column-gap: 15px;

    @media (min-width: $tablet-width) {
      grid-column-gap: 20px;
    }
  }

  &--checkbox {
    grid-column-gap: 16px;

    @media (min-width: $tablet-width) {
      grid-column-gap: 19px;
    }
  }
}
