.label {
  @include text(primary, 16px, 18px, true);
  display: grid;
  grid-template-columns: min-content minmax(170px, 1fr);
  grid-column-gap: 15px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-column-gap: 18px;
    font-size: 20px;
    line-height: 30px;
  }
}
