.legend {
  @include accent-title;
  position: relative;

  &--owner {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--addons {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }

  &::before {
    @include green-line;
    top: 0.6em;
    left: 3px;

    @media (min-width: $desktop-width) {
      left: calc(#{$desktop-content-width} / 2 - 50vw + #{$padding-desktop});
    }
  }
}

.legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
