.legend {
  @include font($primary-font, 400, normal);
  --desktop-content-width: 1220px;

  position: relative;
  font-size: 24px;
  line-height: 26px;
  color: $basic-dark;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &--owner {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--comment {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 76px;
    }
  }

  &--addons {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }

  &::before {
    @include green-line;
    top: 0.6em;
    left: 0;

    @media (min-width: $tablet-width) {
      left: -$padding-tablet;
    }

    @media (min-width: $desktop-width) {
      left: calc(var(--desktop-content-width) / 2 - 50vw + 40px);
    }
  }
}

.legend br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
