$inner-circle-size-mobile: 13.5px;
$inner-circle-size: 18px;
$shift-mobile: $input-size-mobile / 2 - $inner-circle-size-mobile / 2;
$shift: $input-size / 2 - $inner-circle-size / 2;

.radio-input + label::before {
  @include pseudo($input-size-mobile, $input-size-mobile);
  border-radius: 50%;
  background-color: $basic-light;
  border: $border-cd;

  @media (min-width: $tablet-width) {
    width: $input-size;
    height: $input-size;
  }
}

.radio-input:hover + label::before {
  border-color: $basic-light-ba;
}

.radio-input:focus + label::before {
  outline: 1px solid $basic-light-ba;
}


.radio-input:active + label,
.radio-input:active + label::before {
  opacity: $opacity-30;
}

.radio-input:checked + label::after {
  @include absolute-top-left($shift-mobile, $shift-mobile, 0);
  @include pseudo($inner-circle-size-mobile, $inner-circle-size-mobile);
  border-radius: 50%;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    top: $shift;
    left: $shift;
    width: $inner-circle-size;
    height: $inner-circle-size;
  }
}
