.main-nav {
  width: 100%;
}

.main-nav__menu {
  @include list;
}

.main-nav--nojs .main-nav__menu {
  display: flex;
}

.main-nav--closed .main-nav__menu {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  @include absolute-top-right(23px, 23px, 1);
  width: 24px;
  height: 16px;
  background-position: center;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  @include bg-norepeat($icon-menu-mobile);
}

.main-nav--opened .main-nav__toggle {
  @include bg-norepeat($icon-menu-close);
}
