.main-nav {
  width: 100%;
}

.main-nav__menu {
  @include list;
  position: relative;
  z-index: 1;
  top: 1px;
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    top: 0;
    margin: 0;
  }
}

.main-nav--nojs .main-nav__menu {
  display: flex;
}

.main-nav--closed .main-nav__menu {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.main-nav__toggle {
  @include absolute-top-right(13px, 23px, 1);
  padding: 20px;
  background-position: center;
  background-size: 24px 16px;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle span {
  top: 1px;
  left: 1px;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed .main-nav__toggle {
  @include bg-norepeat($icon-menu-mobile);
}

.main-nav--opened .main-nav__toggle {
  @include bg-norepeat($icon-menu-close);
}
