.menu {
  @include flex(column, center, center, wrap);
  color: $basic-dark;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    background-color: transparent;
  }

  &--light {
    @media (min-width: $desktop-width) {
      color: $basic-light;
    }
  }
}

.menu__item {
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom: 1px solid $basic-light-e6;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-left: 36px;
    border-bottom: none;
  }

  &:first-of-type {
    border-top: 1px solid $basic-light-e6;

    @media (min-width: $tablet-width) {
      border-top: none;
    }
  }
}

.menu__link {
  @include text(primary-medium, 20px, 20px, true);
  position: relative;
  display: inline-flex;
  padding: 7px 0;
  color: inherit;

  @media (min-width: $tablet-width) {
    @include text(primary, 18px, 24px, true);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: $opacity-60;
  }

  &:active {
    opacity: $opacity-30;
  }

  &--active {
    border-bottom: 2px solid $basic-green;
  }
}

.menu--light .menu__link--active {
  @media (min-width: $desktop-width) {
    border-color: $basic-light;
  }
}
