.page-header {
  @include flex(column, auto, center, false);
  @include container;
  position: relative;
  border-bottom: 1px solid $basic-light-d9;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 100px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    min-height: 165px;
  }

  &--index {
    @media (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 10;
      width: 100%;
      transform: translateX(-50%);
    }
  }
}

.page-header__logo {
  @include logo-states;
  display: flex;
  align-items: center;
  min-height: 66px;
  margin-right: auto;
}

.page-header__logo img {
  width: 190px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 60px;
  }
}
