.contacts {
  background-color: $basic-light-f2;

  @media (min-width: $desktop-width) {
    background-color: $basic-light;
  }

  &--index {
    background-color: $basic-light;
  }
}

.contacts__wrapper {
  @include container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  padding-top: 29px;
  padding-bottom: 23px;
  padding-left: 19px;
  padding-right: 19px;

  @media (min-width: $tablet-width) {
    grid-gap: 60px;
    align-items: start;
    padding-top: 64px;
    padding-bottom: 58px;
    padding-left: 72px;
    padding-right: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-gap: 97px;
    padding-left: 76px;
    padding-right: 89px;
  }
}

.contacts__slogan {
  @include text(primary, 16px, 20px, true);
  color: $basic-dark-100;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  @include flex(column, auto, auto, false);
  @include text(regular, 14px, 20px, false);

  @media (min-width: $tablet-width) {
    min-height: 77px;
    justify-content: space-between;
    text-align: right;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
