.contacts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;

  &--light {
    background-color: $basic-light;
  }
}

.contacts__slogan {
  @include text(primary, 16px, 20px, true);
  color: $basic-dark-100;
  margin: 0;
}

.contacts__address {
  @include text(regular, 14px, 20px, false);
}
