.map {
  @include bg-norepeat($bg-map-mobile);
  width: 100%;
  min-height: 362px;
  background-size: $mobile-width auto;
  background-position: top center;

  @media (min-resolution: 1.5dppx) {
    background-image: $bg-map-mobile-2x;
  }

  @media (min-width: $tablet-width) {
    min-height: 400px;
    background-image: $bg-map-tablet;
    background-size: $tablet-width auto;
  }

  @media (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
    background-image: $bg-map-tablet-2x;
  }

  @media (min-width: $desktop-width) {
    background-image: $bg-map;
    background-size: $desktop-full-width auto;
  }

  @media (min-width: $desktop-width) and (min-resolution: 1.5dppx) {
    background-image: $bg-map-2x;
    background-size: $desktop-full-width auto;
  }
}
