.page-footer {
  @include text(regular, 16px, 20px, false);
  position: relative;
  color: $basic-dark-400;
}

.page-footer__wrapper {
  @include flex(column, auto, center, false);
  padding: 0 20px;
}

.page-footer__contacts {
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 19px;
  padding-right: 19px;
}

.page-footer__logo {
  @include flex(row, center, center, false);
  width: 100%;
  max-width: 280px;
  height: 95px;
  border-bottom: $border-footer;
}

.page-footer__socials {
  @include list;
}

.page-footer__copyright {
  @include flex(row, space-between, center, false);
  width: 100%;
  max-width: 280px;
  padding: 22px 0;
  margin: 0 auto;
  color: $basic-dark-400;
  border-top: $border-footer;
}
