.page-footer {
  @include text(regular, 16px, 20px, false);
  position: relative;
  color: $basic-dark-400;
  background-color: $basic-light-f2;
}

.page-footer__wrapper {
  @include container;
  @include flex(column, auto, center, false);

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 142px;
  }

  @media (min-width: $desktop-width) {
    min-height: 148px;
  }
}

.page-footer__contacts {
  @media (min-width: $desktop-width) {
    @include absolute-top-left(96px, 50%, 10);
    transform: translateX(-570px - $gutter-desktop / 2);
  }
}

.page-footer__logo {
  @include logo-states;
  padding-top: 41px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 0;
    border: none;
  }
}

.page-footer__socials {
  @include list;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 27px;
    margin-right: 0;
  }
}

.page-footer__copyright {
  @include flex(row, space-between, center, false);
  width: 100%;
  max-width: 280px;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    margin: 0;
  }
}
