.socials {
  @include flex(row, center, center, false);
  width: 100%;
  border-top: $border-d9;
  border-bottom: $border-d9;

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
  }
}

.socials__link {
  display: flex;
  padding-top: 21px;
  padding-bottom: 19px;
  padding-left: 18px;
  padding-right: 18px;

  @media (min-width: $tablet-width) {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 22px;
  }
}

.socials__link:hover .social-icon {
  fill: $basic-green;
}

.socials__link:active {
  fill: $basic-green;
  opacity: $opacity-30;
}
